
.popup_back {
    position: fixed;
    background: rgb(183 181 181 / 46%);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.popup-container {
    position: absolute;
    z-index: 101;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.popup {
    background: white;
    width: 90%;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 11px;
    /* color: rgb(0 0 0); */
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px #888888;
}

.popup-body {
    padding: 36px 16px;
    /* text-align: left; */
}


img.popup-bg {
    width: 100%;
}
.flex {
    display: flex;
    /* justify-content: space-between; */
    /* z-index: 0; */
    /* position: relative; */
}

.btn {
    width: 100%;
    margin: 0px;
    padding: 17px;
    font-size: 15px;
}


.btn-info {
    background: #8A2254;
    color: white;
}

.body-title {
    font-weight: 100 !important;
    font-size: 17px;
    color: rgb(107 107 107);
    margin-bottom: 17px;
}


span.fa.fa-times {
    position: absolute;
    right: 5px;
    top: 4px;
    font-size: 22px;
    color: rgb(74 74 74);
}

.popup.popup-big {
    max-width: 700px;
}

.popup-bg-body {
    padding: 30px;
    text-align: left;
    background-position: bottom left;
    min-height: 300px;
    /* background-position: bottom left; */
    background: url('../bg0big.png');
    background-position: bottom left;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 200px;
    padding-top: 49px;
}


@media(max-width:500px){
    .popup-bg-body{
        
    }
}

h4 {
    font-size: 23px;
    margin: 0px;
    font-weight: 200;
    color: rgb(107 107 107);
}

.form-control {
    width: 84%;
    height: 48px;
    font-size: 16px;
    border-radius: 9px;
    border: 1px solid rgb(183 183 183);
    padding-left: 13px;
    padding-right: 13px;
    box-sizing: border-box;
}


label {
    display: block;
    text-align: left;
    width: 90%;
    margin: 0 auto;
    padding-left: 21px;
    display: none;
}

span.err_span {
    display: block;
    text-align: left;
    width: 82%;
    margin: 0 auto;
    font-size: 14px;
    color: rgb(183 0 0);
}